<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149713584952-dhgiq6mbhupcd0v6mqcgn18p94jek398.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149713584952-dhgiq6mbhupcd0v6mqcgn18p94jek398</string>
	<key>API_KEY</key>
	<string>AIzaSyApwney5tZWnggCnltPz5yAxKF7KbpG_vY</string>
	<key>GCM_SENDER_ID</key>
	<string>149713584952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asper.eventApp</string>
	<key>PROJECT_ID</key>
	<string>event-app-c48c8</string>
	<key>STORAGE_BUCKET</key>
	<string>event-app-c48c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149713584952:ios:64411fd45f7442213d37cd</string>
</dict>
</plist>